.main-block {
    margin-top: 200px;
    margin-left: 700px;
    display: grid;
    max-width: 450px;
    max-height: 450px;
    grid-template-columns: repeat(3, 1fr);
}

.block {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    cursor: pointer;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

